.room-card{
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    padding: 0.8em 1em;
    margin:1em 0em;
}

.room-card:hover{
  background-color: #eee;
  cursor:pointer;
}

.room-title{
    font-weight: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.room-topic{
  margin-bottom: 0.5em;
}

.room-topic button{
    border-radius: 4px;
    border: solid 1px #3b82f6;
    padding: 0.2em 0.25em;
    margin: 0.5em 0em;
    font-size: 0.8rem;
    cursor:default;
}

.moderator{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 0.5em;
}

.moderator-avatar-stack{
    margin-right:1em;
}

.moderator-names{
  font-size: 0.8rem;
  }
.room-stats{
    display: flex;
    flex-wrap: wrap;
}
.room-stats div{
    margin-right:0.5em;
}
.room-participants{
  display: flex;
  align-items: center;
}
.room-participants div{
    margin-left:0.5em;
}

.room-chatters{
  display: flex;
  align-items: center;
}
.room-chatters div{
  margin-left:0.5em;
}

.room-chatters svg{
    font-size: 1.5rem;
}

.room-saved{
    margin: 1em 0;
}